@import "../colors"

#logo-container
  width: 100%
  max-width: 800px
  margin: auto

  #logo
    fill-rule: evenodd
    clip-rule: evenodd
    stroke-linejoin: round
    stroke-miterlimit: 2

    .path
      fill: white
      fill-rule: nonzero
      stroke: $primary
      stroke-width: 4px
      stroke-dasharray: 1220px
      stroke-dashoffset: 1220px

    @for $i from 1 through 4
      .path#{$i}
        animation: line-anim 4s #{$i - 1}s ease forwards, fill-anim 1s 4s ease forwards

@keyframes fill-anim
  from
    fill: white
  to
    fill: $primary

@keyframes line-anim
  to
    stroke-dashoffset: 0
